/*
.btn{
    width: 200px;
    height: 50px;
  
    border-radius: 25px;
    color: black;
    font-size: 18px;
    position: fixed;
    bottom: 0;
    right: 0;
    overflow: hidden;
    cursor: pointer;
}
.text{
    width: 180px;
    height: 45px;
    padding-top: 15px;
    padding-left: 15px;
    text-align: center;
    position: absolute;
    transition:  top 0.9s ;
    
}
.secondary{
    top: 80px;
    text-decoration: underline;
}
.primary{
    top: 0px;
    
}
.btn:hover .primary{
    top:-80px   

}
.btn:hover .secondary{
    top:0px
}



html{
    scroll-behavior: smooth;
    scroll-padding-top: 1rem;
}


.content{
    max-width: 1000px;
    margin: 0 auto;
}
nav{
    position: fixed;
    left: 0;
    margin-left: 300px;
}
.title{
    text-align: center;
}

section > blockquote:only-of-type{
    font-size: 2rem;
}








.mybox{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-color: green;
    position: relative;
    left: 500px;
    top: 50px;
    
    
  
}
.myboxp{
    padding-top: 40px;
    text-align: center;
}
.mybox::before{
    content: '';
    background-image: url(https://cdn-icons-png.flaticon.com/512/2111/2111463.png);
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    text-align: center;
   
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: -12px;
    left: -19px;
    
}
.mybox::after{
    content: '1';
    width: 50px;
    height: 50px;
    background-color: orange;
    position: absolute;
    border-radius: 50%;
    left: 71px;
    top: -22px;
   text-align: center;
   
    
}




.block{
    width: 500px;
    height: 500px;
    background: orange;
    vertical-align: middle;
   
    
}

.block1{
    text-align: center;
    vertical-align: middle;
}


.wrapper1{
    width: 272px;
    background-color: black;
    text-align: center;
    color: #FFF;
    padding-top: 5px;
    margin: 0 auto;
    
}

ul{
    list-style-type: none;
    padding-left: 0px;
    font-size: 15px;
    margin: 0;
    padding: 0;
   
}
ul li{
    text-align: center;
   
}
.number{
    margin-top: 10px;
}
a{
    text-decoration: none;
    color: white;
}

.title{
    background-color: white;
    color: black;
    padding: 15px 0;
    margin: 0;
}
.logo{
    text-align: right;
}
.chance{
    padding: 15px 0;
}

.title_title1{
    margin: 0;
}
.title_title2{
    margin: 0;
    text-align: center;
    font-weight: 900;
}
*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{
    background: url("https://leonardo.osnova.io/040aa06c-57a8-5f17-bb78-fad04bcfc4b2/") center;
    background-size: cover;
    
}

.item{
    background: conic-gradient(orange 90deg,black 90deg 180deg,orange 180deg 270deg,black 270deg)
    top left / 60px 60px repeat;
    height: 150px;
}



footer{
    background: #7e7e7e;
    color: #dbdbdb;
    font-size: 11px;
    margin-top: 900px;
    
   
}
#footer{
    max-width: 960px;
    margin: auto;
    padding: 10px 0;
    height: 100px;
   
    
}
footer h3{
    color: #fff;
    border-bottom: 1px solid #919191;
    margin: 0 0 10px 0;
    font-size: 14px;
}
#twitter time a{
    color: #b4aeae;
}
footer p{
    margin: 4px 0;
}
#twitter{
    float: left;
    width: 300px;
}
#twitter p{
    padding-right: 15px;
}

footer a{
    color: #dbdbdb;
}
#sitemap{
    width: 150px;
    float: left;
    margin-left: 20px;
    padding-right: 15px;
}
#sitemap div{
    display: inline-block;
}

#sitemap div+div{
    margin-left: 40px;
}

#sitemap a{
    display: block;
    text-decoration: none;
    font-size: 12px;
    margin-bottom: 5px;
}
#sitemap a:hover{
    text-decoration: underline;
}

#social{
    float: left;
    margin-left: 20px;
    width: 210px;
}
.bx{
    width: 100px;
}
#footer-logo{
    float: right;
    margin-top: 10px;
    font-size: 10px;
    text-align: right;
}
img{
    width: 50px;
    height: 50px;
}






summary { list-style-type: none; } 

.wrapper{
    max-width: 500px;
    margin: 0 auto;
}

.accordion{
    max-width: 500px;
    box-shadow: 0 0 12px rgba(0, 0, 0, .4);
    border-radius: 8px;
    overflow: hidden;
}
.accordion__item{
    background-color: #353535;
    color: #fff;
}
.accordion__item[open] .accordion__title::after{
    content: '-';
}
.accordion__title{
    text-align: center;
    font-size: 20px;
  
    background-color: #272727;
    cursor: pointer;
    border-bottom: 1px solid #fff;
    padding: 10px 40px 10px 20px;
    transition: .3s all;
    position: relative;
}
.accordion__title:hover{
    background-color: #111;
}
.accordion__title::after{
    content: '+';
   font-size: 12px;
    display: block;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
}
.accordion__body{
    padding: 20px;
}




.faq{
    max-width: 500px;
    margin: 20px auto;
    
}
.faq-item{
    
    margin-bottom: 5px;
    background-color: #353535;
    color: #fff;
}
.faq-text{
    display: none;
    font-size: 15px;
    padding: 10px 15px;
}
.faq-title{
    display: block;
    cursor: pointer;
    padding: 10px 15px;
    border-bottom: 1px solid #fff;
    position: relative;
    
}
.faq-title::after{
    content: '+';
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  
}
.faq-title:hover{
    background-color: rgb(83, 15, 15);
    color: #fff;
    
}
.faq-input{
    appearance: none;
    position: absolute;
}

.faq-input:checked + .faq-text{
    display: block;
}
.faq-input:checked ~ .faq-text{
    display: block;
}
.faq-input:checked ~ .faq-title{
    background-color: orange;
    transition: .3s;
}

.faq-input:checked + .faq-title::after{
    content: '-';
    position: absolute;
}